[Service]
After=systemd-networkd-wait-online.service
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/set_hostname.sh

[Install]
WantedBy=multi-user.target

