[Unit]
Description=Stalwart container
After=local-fs.target

[Service]
StateDirectory=stalwart
# do not use those, as it doesn't seems to start with a error message 'cannot stat /.config' (likely podman
# cf https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
# "Note that Quadlet units do not support running as a non-root user by defining the User, Group, or DynamicUser systemd options."
#DynamicUser=yes
#User=stalwart

[Container]
Image=docker.io/stalwartlabs/stalwart:latest
AutoUpdate=registry

# SMTP
PublishPort=25:25   
# SMTPS
PublishPort=465:465
# submission
PublishPort=4587:4587
# http
PublishPort=127.0.0.1:8080:8080
# https
#PublishPort=443:443
# imap
PublishPort=143:143
# imaps
PublishPort=993:993
# sieve
PublishPort=4190:4190
# pop3
#PublishPort=110:110
# pop3s
#PublishPort=995:995

PodmanArgs=--uts=host

Volume=/var/lib/stalwart:/opt/stalwart:Z

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
