[Unit]
Description=Stalwart container
After=local-fs.target

[Service]
StateDirectory=stalwart
# do not use those, as it doesn't seems to start with a error message 'cannot stat /.config' (likely podman
# cf https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
# "Note that Quadlet units do not support running as a non-root user by defining the User, Group, or DynamicUser systemd options."
#DynamicUser=yes
#User=stalwart

[Container]
Image=docker.io/stalwartlabs/stalwart:latest
AutoUpdate=registry

# SMTP
PublishPort=25   
# SMTPS
PublishPort=465
# submission
PublishPort=4587
# http
PublishPort=8080
# https
#PublishPort=443
# imap
PublishPort=143
# imaps
PublishPort=993
# sieve
PublishPort=4190
# pop3
PublishPort=110
# pop3s
PublishPort=995

Volume=/var/lib/stalwart:/opt/stalwart

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
